BookReSearch/BookReSearch/Service References/PatronsService/Patrons1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookReSearch.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookReSearch.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPatronList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatronList" nillable="true" type="tns:PatronList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatronList" nillable="true" type="tns:ArrayOfPatronList" />
  <xs:complexType name="PatronList">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatronList" nillable="true" type="tns:PatronList" />
</xs:schema>