BookReSearch/BookReSearch/Web References/BookReSearchEvents/EventsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEventsResult" type="tns:ArrayOfEvent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Event">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWeekEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetWeekEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeekEventsResult" type="tns:ArrayOfEvent" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeekEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeekEvents" />
  </wsdl:message>
  <wsdl:message name="GetWeekEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeekEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="EventsServiceSoap">
    <wsdl:operation name="GetAllEvents">
      <wsdl:input message="tns:GetAllEventsSoapIn" />
      <wsdl:output message="tns:GetAllEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeekEvents">
      <wsdl:input message="tns:GetWeekEventsSoapIn" />
      <wsdl:output message="tns:GetWeekEventsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventsServiceSoap" type="tns:EventsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeekEvents">
      <soap:operation soapAction="http://tempuri.org/GetWeekEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventsServiceSoap12" type="tns:EventsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap12:operation soapAction="http://tempuri.org/GetAllEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeekEvents">
      <soap12:operation soapAction="http://tempuri.org/GetWeekEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventsService">
    <wsdl:port name="EventsServiceSoap" binding="tns:EventsServiceSoap">
      <soap:address location="http://localhost:56814/EventsService.asmx" />
    </wsdl:port>
    <wsdl:port name="EventsServiceSoap12" binding="tns:EventsServiceSoap12">
      <soap12:address location="http://localhost:56814/EventsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>